.country-detail {
  max-width: 1200px;
  margin: 50px auto;

  box-sizing: border-box;

  .back-button {
    margin-bottom: 20px;
    padding: 10px 30px;
  }

  .country-info {
    margin-top: 20px;

    .country-flag {
      width: 100%;
      padding-right: 30px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .details-columns {
      display: flex;

      .details-column {
        flex: 1;
        margin-right: 20px;

        p {
          margin: 0;
          margin-bottom: 5px;
        }
      }
    }

    .border-countries {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      h4 {
        margin-right: 10px;
      }

      .border-country-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }

  @media (max-width: 600px) {
    .country-info {
      .details-section {
        .details-columns {
          flex-direction: column;

          .details-column {
            flex-direction: row;

            margin-right: 0;

            p {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
