.home-container {
  padding: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 100px;

  @media (max-width: 500px) {
    flex-direction: column;
  }

  .search-container {
    flex: 1;
  }

  .category-container {
    flex: 1;
  }
}

.darker-mode {
  background-color: #1d282f;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.grid-container {
  display: flex;
  justify-content: center;

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
