.header-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;

  .page-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-title {
    font-weight: 800;
    font-size: 18px;
  }

  .page-theme {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      margin-left: 8px;
    }
  }
}
