.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;

  .page-title {
    font-weight: 800;
    font-size: 18px;
  }

  .page-theme {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      margin-left: 8px;
    }
  }
}

.dark-mode {
  background-color: #26303b;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000;
}
